.wrapper {
    padding-left: 4.5rem;
}

.writer {
    font-size: 26px;
    position: absolute;
    top: 45%;
    left: 45%;
}


@media (max-width: 460px) {
    .writer {
        top: 45%;
        left: 30%;
    }
}